<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ewk.Configuration" publicKeyToken="0ffe897e6e5722cd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.4678.15497" newVersion="1.1.4678.15497" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>